/* Coolors Exported Palette - coolors.co/110f0f-232121-3f3c3c-e94b3c-f2f0ef */

/* HSL */
$color1: hsla(0%, 6%, 6%, 1);
$color2: hsla(0%, 3%, 13%, 1);
$color3: hsla(0%, 2%, 24%, 1);
$color4: hsla(5%, 80%, 57%, 1);
$color5: hsla(20%, 10%, 94%, 1);

/* RGB */
$color1: rgba(17, 15, 15, 1);
$color2: rgba(35, 33, 33, 1);
$color3: rgba(63, 60, 60, 1);
$color4: rgba(233, 75, 60, 1);
$color5: rgba(242, 240, 239, 1);